/* GLOBALS */

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  background: #c1bdba;
  font-family: 'Titillium Web', sans-serif;
}

a {
  text-decoration: none;
  color: #1ab188;
  -webkit-transition: .5s ease;
          transition: .5s ease;
}

a:hover {
  color: #179b77;
}

.form {
  padding: 40px;
  max-width: 800px;
  margin: 40px auto;
  background: rgba(19, 35, 47, 0.9);
  border-radius: 5px;
  box-shadow: 0 4px 10px 6px rgba(19, 35, 47, 0.3);
}

/* TABS */

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}

.tab-group:after {
  content: '';
  display: table;
  clear: both;
}

.tab-group li a {
  display: block;
  float: left;
  padding: 15px;
  text-decoration: none;
  background: rgba(160, 179, 176, 0.25);
  color: lightgrey;
  font-size: 20px;
  width: calc(1/3 * 100%);
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
          transition: .5s ease;
}

.tab-group li a:hover span {
  display: none;
}

.tab-group li a:hover {
  background: #179b77;
  color: #fff;
}

#adopter-tab:hover:before {
  content: "Forever Home";
  font-size: 20px;
}

#foster-tab:hover:before {
  content: "Temporary Home";
  font-size: 20px;
}

#rescue-tab:hover:before {
  content: "Healing Home";
  font-size: 20px;
}

.tab-group .active a {
  background: grey;
}

/* FORMS */



/* TEMP */

.tab-content div p {
  color: #fff;
}
